# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/node_modules
/backend/config/config.env


/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
